record (bo, "$(P)PIN_$(PIN_NUMBER)") {
	field(DESC, "Digital Output Pin $(PIN_NUMBER).")
    field(DTYP, "stream")
	
	field(OUT,  "@rkndio.proto set_output($(P)ERROR,$(PIN_NUMBER)) $(PORT)")
	
	field(ZNAM, "FALSE")
	field(ONAM, "TRUE")
	
	info(INTEREST, "HIGH")
	info(archive, "VAL")
	info(alarm, "Rkndio")
	
	field(SDIS, "$(P)DISABLE")
}
